@model Dtos.ViewModels.CreateOrderVM

<h2>Add New Order</h2>

<form asp-action="AddOrder" method="post">
    <div class="form-group">
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsDelivered" class="control-label"></label>
        <input asp-for="IsDelivered" class="form-control" />
        <span asp-validation-for="IsDelivered" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Burgers</label>
        <select asp-for="BurgerIds" class="form-control" multiple="multiple" asp-items="@(new SelectList(ViewBag.Burgers, "Id", "Name"))"></select>
        <span asp-validation-for="BurgerIds" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>
